div(class="item row" ng-controller="RobFilterCtrl")
    ion-radio(name="rob" class="col" ng-value="false" ng-model="editfilter.rent") Купить
    ion-radio(name="rob" class="col" ng-value="true" ng-model="editfilter.rent") Снять
