a(class="item item-icon-left" ui-sref="main.add_filter_term" ng-show="editfilter.rent")
    i(class="icon ion-android-data")
    span(ng-show="editfilter.term.text") {{ editfilter.term.text }}
    span(ng-show="!editfilter.term.text") Укажите cрок
