.current
  border-color: #ccc
  background-color: #D9D9D9

.appartament-types, appartament-terms
  color: #aaa
  font-size: 12px

.signup
  width: 90% !important
  margin: 10% auto !important
  text-align center !important


.signup .item-input-wrapper
  margin-left  10px

.modal
  background none

.modal > .list
  text-align center
  background #ffffff
  margin-top 6em

.modal .col
  width 48%
  margin-left 2%


.header-margin
  margin-top 50px

.opacity-grey-button
  opacity 0.5

.border-left
  border-left 1px solid #000

.font-grey
  color: #777777

.font-blue
  color: #0066bb

.font-small
  font-size 12px


.relative
  position relative

.clearWrap
  position absolute
  margin 0 !important
  padding 0
  padding-top: 20px !important


.left
  float left

//slider

.slidebox

  position: relative
  overflow hidden
  height: 300px;
  min-height: 300px
  max-height: 300px
  min-width : 300px
  max-width: 300px
  margin 0
  padding 0



.slides
  position absolute
  z-index -1 !important
  padding 0
  margin 0
  left: 0
  transition: left .5s;


.slides > *
  padding 0
  margin 0
  max-width 300px
  min-width 300px
  max-height 100%
  min-height 100%

.slide
  display block
  width 100%
  height 100%


