div(class="list" ng-controller="CostFilterCtrl")
    div(class="item item-input-inset")
        label(class="item-input-wrapper")
            input(type="number" ng-model="cost.min" placeholder="мин. руб.")
        div &nbsp;&nbsp;-&nbsp;&nbsp;
        label(class="item-input-wrapper")
            input(type="number" ng-model="cost.max"  placeholder="макс. руб.")
